.topLine{

    width: 40%;
    height: 1px;
    background:rgb(94, 93, 93);
    margin-bottom: 30px;
    margin-top: 40px;
    
    }
    .bottomLine{
    
        width: 100%;
        height: 1px;
        background:rgb(94, 93, 93);
        margin-bottom: 30px;
    
    
    
    }
    .para{
        color: rgb(94, 93, 93);
        font-weight: 600;
    }